<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">Add Category</h1>
        <form action="/categories/add_category" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="has_child">Có categories con</label>
                <input type="radio" name="has_child" id="has_child" value="0"> Không </option>
                <input type="radio" name="has_child" id="has_child" value="1"> Có </option>
            </div>
            <div class="form-group">
                <label for="has_brand">Có Brand</label>
                <input type="radio" name="has_brand" id="has_brand" value="0"> Không </option>
                <input type="radio" name="has_brand" id="has_brand" value="1"> Có </option>
            </div>
            <div class="form-group">
                <label for="has_size">Có Kích thước</label>
                <input type="radio" name="has_size" id="has_size" value="0"> Không </option>
                <input type="radio" name="has_size" id="has_size" value="1"> Có </option>
            </div>
            <div class="form-group">
                <label for="require_weight">Yêu cầu thêm</label>
                <input type="radio" name="require_weight" id="require_weight" value="0"> Không </option>
                <input type="radio" name="require_weight" id="require_weight" value="1"> Yêu cầu nhập khối lượng </option>
                <input type="radio" name="require_weight" id="require_weight" value="2"> Yêu cầu nhập khối lượng và kích thước </option>
            </div>
            <div class="form-group">
                <label for="parent_id">Thư mục cha</label>
                <select name="parent_id">
                    <option name="parent_id" id="parent_id" value=>Không</option>
                {{# each category}}
                {{# each this}}
  <option name="parent_id" id="parent_id" value={{this._id}}>{{this.name}}</option>
                {{/each}}
                {{/each}}
</select>
            </div>
            <button type="submit" class="btn btn-primary">Chấp nhận</button>
            
        </form>
    </div>
</div>