<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">Get Product</h1>
        <form action="/products/get_products" method="post">
            <div class="form-group">
                <label for="_id">_id</label>
                <input type="text" name="_id" id="_id" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Get</button>
        </form>
    </div>
</div>