<form action="upload_image" method="post">
<input type="text" name="text"><br>
<form action="upload_image" method="post" enctype="multipart/form-data">
<input type="file" name="filetoupload"><br></form>
<input type="submit">
</form>